/*This is where general properties are place*/


p{
  font-family: "Afacad", sans-serif;
}
h1{
  font-family: "Vollkorn", serif;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  /*background-image: linear-gradient(to left, var(--solid1), var(--solid2));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;*/
  color: black;
  margin: 10px;
}
h2{
  font-family: "Vollkorn", serif;
  text-align: center;
  text-decoration: underline;
}
h3{
  font-family: "Vollkorn", serif;
  text-align: center;
}
table {
  border: 1px solid;
  align-items: center;
}
td{
  font-family: "Afacad", sans-serif;
  border: 1px solid;
}
th{
  font-family: "Vollkorn", serif;
  border: 1px solid;
}
body{
  margin: 0px;
}

/*#############################################################################*/
/*Here is where layout properties are place*/
.thickPadding{
  padding-left: 10%;
  padding-right: 10%;
}
.elementPadding{
  padding: 10px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.embeddedSpreadsheet{
  width: 100%;
  height: 20vh;
}
.buttonCenter{
  position: relative;
  left: 50%;
}
.h1wrapper{
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(to left, var(--solid1), var(--solid2)) 1;
  /*
  padding: 1rem;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, var(--solid1), var(--solid2));*/
}
.row{
  display: flex;
}
.column {
  flex: 50%;
}
/*This is for galleries in writing and staff*/
.galleryRow{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.galleryColumn{
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}
.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.galleryColumn3{
  flex: 20%;
  max-width: 33%;
  padding: 0 4px;
}
.galleryColumn3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.galleryColumn2{
  flex: 20%;
  max-width: 50%;
  padding: 0 4px;
}
.galleryColumn2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*This is for the main character art for the OCs on the writing page*/
.imageContainer{
  position: relative;
}
.characterPFP{
  border-radius: 25px;
  width: 30vw;
}
.creditFormat{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.7);
  position: absolute;
  padding:5px;
  bottom: 8px;
  left: 16px;
  font-size: 12px;
  overflow: hidden;
  transition: .5s ease;
}
/* on hover remove credit, this was reverse engineered: https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slidebottom */
/* ease explanation https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
.imageContainer:hover .creditFormat{
  height:0;
  padding:0px;
}
/*This is for general video embedding*/
.youtubeVideo{
  width: 480px;
  height: 270px;
}
.shortsVideo{
  width: 160px;
  height: 320px;
}

/* Responsive layout - makes a two column-layout instead of four columns
https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.topnav{
  background-color: black;
  color: white;
  overflow: auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 0%;
  left: 0px;
  font-family: "Afacad", sans-serif;
}

.topnav a{
  display: block;
  float: left;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active{
  background-color: var(--accent1);
}

/*#############################################################################*/
/*Here are where specific assets like buttons are placed*/
.button {
  /*https://www.w3schools.com/howto/howto_css_round_buttons.asp*/
  /*https://www.w3schools.com/css/css3_buttons.asp*/
  background-color: var(--solid1);
  border: 2px solid var(--solid2);
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 40%;
}

.button:hover {
  background-color: var(--solid2);
  color:white;
  border: 2px solid var(--solid1);
}

.smallButton {
  /*https://www.w3schools.com/howto/howto_css_round_buttons.asp*/
  /*https://www.w3schools.com/css/css3_buttons.asp*/
  background-color: var(--solid1);
  border: 2px solid var(--solid2);
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  border-radius: 12px;
}

.smallButton:hover {
  background-color: var(--solid2);
  color:white;
  border: 2px solid var(--solid1);
}

.expandDropdown{
  border-style:dashed;
}

.quote {
  text-decoration: dashed underline overline;
}

.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.none {border-style: none;}
.hidden {border-style: hidden;}
.mix {border-style: dotted dashed solid double;}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*####This is for the carousel###*/
* {
  box-sizing: border-box;
}

/*Don't show the radio buttons*/
input[type=radio] {
  display: none;
}


.carouselBody{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;

}

.carouselContainer{
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carouselCards {
  position: relative;
  width: 100%;
  height: 90%;
  margin-bottom: 20px;
}

.carouselCard {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.carouselImage{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .carouselCards #image-3, #item-2:checked ~ .carouselCards #image-1, #item-3:checked ~ .carouselCards #image-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#item-1:checked ~ .carouselCards #image-2, #item-2:checked ~ .carouselCards #image-3, #item-3:checked ~ .carouselCards #image-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#item-1:checked ~ .carouselCards #image-1, #item-2:checked ~ .carouselCards #image-2, #item-3:checked ~ .carouselCards #image-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#solo-item-1:checked ~ .carouselCards #solo-image-3, #solo-item-2:checked ~ .carouselCards #solo-image-1, #solo-item-3:checked ~ .carouselCards #solo-image-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#solo-item-1:checked ~ .carouselCards #solo-image-2, #solo-item-2:checked ~ .carouselCards #solo-image-3, #solo-item-3:checked ~ .carouselCards #solo-image-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#solo-item-1:checked ~ .carouselCards #solo-image-1, #solo-item-2:checked ~ .carouselCards #solo-image-2, #solo-item-3:checked ~ .carouselCards #solo-image-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.carouselInfoBox{
  background-color: #fff;
  border-radius: 8px;
  min-width: 400px;
  padding: 16px 10px;
}

.carouselUpperPart{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.carouselInfoArea{
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

.carouselSongInfo{
  width: calc(100% - 32px);
  display: block;
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.carouselTitle{
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.carouselSubLine{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carouselSubtitle{
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
  height: 30px;
}

.carouselLink{
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;

}

#item-1:checked ~ .carouselInfoBox #carInfo {
  transform: translateY(0);
}

#item-2:checked ~ .carouselInfoBox #carInfo  {
  transform: translateY(-55px);
}

#item-3:checked ~ .carouselInfoBox #carInfo  {
  transform: translateY(-110px);
}

#solo-item-1:checked ~ .carouselInfoBox #soloCarInfo {
  transform: translateY(0);
}

#solo-item-2:checked ~ .carouselInfoBox #soloCarInfo  {
  transform: translateY(-55px);
}

#solo-item-3:checked ~ .carouselInfoBox #soloCarInfo  {
  transform: translateY(-110px);
}
/*#############################################################################*/
/*These are specific id's*/
#stats {
  background-color: rgba(255, 255, 255, 0.4);
}

#samples {
  align-items: center;
}

#YurenaiKizunaStory{
  background-color: #ebcea8;
  display: none;
}

#AkailaGallery{
  display:none;
  border-style: solid;
}

#footer{
  background-color: black;
  text-align: center;
  color: white;
}

/*#############################################################################*/
/*This is general color scheme*/
.wood {
  --solid1: #cc9c7c;
  --solid2: #624c2b;
  --accent1: #a15c2a;
  --accent2: #9c441a;
  align-content: center;
  position: relative;
  background-color: brown;
  margin:0;
}

.wood:after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: image(Assets/ann-savchenko-unsplash);
  /*stretching bg image: https://www.thoughtco.com/stretch-background-image-3466979 */
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity : 0.5;
  z-index: -1;
}

.purpleDesert {
  --solid1: #b59dfa;
  --solid2: #877bae;
  --accent1: #ce94bc;
  --accent2: #dbbfdb;
  --accent3: #b6b5d8;
  align-content: center;
  position: relative;
  background-color: #b59dfa;
  margin: 0;
}
.purpleDesert:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity : 0.5;
    z-index: -1;
}

.greenNature {
  --solid1: #b59dfa;
  --solid2: #877bae;
  --accent1: #ce94bc;
  --accent2: #dbbfdb;
  --accent3: #b6b5d8;
  align-content: center;
  position: relative;
  background-color: green;
  margin: 0;
}
.greenNature:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Assets/nature-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity : 0.5;
    z-index: -1;
}

.winterWonderland {
  --solid1: #def6ff;
  --solid2: #1896cc;
  --accent1: #b8edf5;
  --accent2: #ecd8ed;
  --accent3: #eddeff;
  align-content: center;
  position: relative;
  background-color: #def6ff;
  margin: 0;
}
.winterWonderland:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Assets/winter-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity : 0.5;
    z-index: -1;
}

/*
.purpleDesert:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*https://unsplash.com/photos/gray-desert-front-of-sunlight-MljwsnGwdOY
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b59dfa;
    /*width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}*/

.sunset {
  --solid1: #e3b6d0;
  --solid2: #2a5480;
  --accent1: #495692;
  --accent2: #8583b7;
  --accent3: #da8ea3;
  /*https://unsplash.com/photos/silhouette-of-wheat-during-sunset-H0h_89iFsWs*/
  background-image: url(https://images.unsplash.com/photo-1531604250646-2f0e818c4f06?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
}
